@import '../../styles/utils/mixins';

.product {
  &__header {
    height: 65vh;
    background-image: url('../../../public/images/about-img.png');

    @include onPhone {
      height: 200px;
      background-size: cover;
    }
  }

  &__main-title {
    padding-top: 500px;

    @include onPhone {
      padding-top: 140px;
    }
  }

  &-container {
    padding-top: 71px;
    padding-bottom: 122px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}