@import "../../styles/utils/mixins";

.form {
  font-family: "Roboto";
  max-width: 761px;
  padding-top: 100px;
  padding-bottom: 111px;

  @include onPhone {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  &__field {
    padding: 10px;
    width: 654px;
    height: 44px;
    border: 1px solid #e8e9eb;
    border-radius: 8px;
    box-shadow: 4px 4px 7px 0px #0a3d7812;
    outline: none;
    box-sizing: border-box;
    resize: none;

    @include onPhone {
      width: 100%;
    }

    &__textarea {
      width: 654px;
      height: 232px;
      outline: none;

      @include onPhone {
        width: 100%;
      }
    }

    &-container {
      display: flex;
      justify-content: space-between;
      max-width: 761px;
      margin-top: 15px;

      @include onPhone {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__title {
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;

    @include onPhone {
      margin-bottom: 5px;
    }

    &::before {
      content: "*";
      position: relative;
      right: 5px;
      font-size: 13px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0.30000001192092896px;
      text-align: left;
      color: red;
    }
  }

  &__button {
    margin-top: 40px;
    display: flex;
    width: 301px;
    height: 57px;
    outline: none;
    border: none;

    @include onPhone {
      width: 100%;
      margin-top: 20px;
    }

    &-container {
      display: flex;
      justify-content: end;
    }
  }

  &__paragraph {
    width: 687px;
    text-align: start;
    margin-bottom: 15px;

    @include onPhone {
      width: 100%;
    }
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 120px;
    top: 40px;
    font-size: 12px;
    color: red;

    @include onPhone {
      left: 10px;
      top: 65px;
    }
  }
  
  &__field-container {
    position: relative;
    margin-bottom: 24px; /* Увеличение отступа между полями для ошибок */
  }
}
