@import "./utils/mixins";

.adress {
  padding-top: 145px;
  padding-bottom: 188px;

  @include onPhone {
    padding-top: 44px;
    padding-bottom: 0;
  }

  &__section {
    @include onPhone {
      padding-bottom: 90px;
    }

    @include onDesktop {
      margin: auto;
      margin-bottom: 197px;
      max-width: 1490px;
    }
  }

  &__title {
    text-align: start;
    margin-bottom: 100px;

    @include onPhone {
      margin-left: 15px;
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-top: 100px;
    }

    @include onTablet {
      margin-top: 100px;
      margin-left: 100px;
    }
  }

  &-img {
    user-select: none;
    pointer-events: none;

    @include onPhone {
      width: 100%;
    }

    @include onTablet {
      width: 900px;
    }

    &-container {
      position: relative;

      @include onTablet {
        margin: auto;
        width: 900px;
      }
    }

    &-map {
      pointer-events: none;

      @include onPhone {
        position: relative;
        width: 100%;
      }

      @include onDesktop {
        position: absolute;
        right: 26px;
        bottom: 56px;
      }

      @include onTablet {
        position: absolute;
        width: 450px;
        bottom: 0;
        right: 0;
      }
    }
  }
}
