@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.about {
  padding-top: 150px;

  @include onPhone {
    padding-top: 35px;
  }

  &__subtitle {
    color: #838383;
    font-size: 18px;
    line-height: 24px;

    @include onPhone {
      display: none;
    }
  }

  &__title {
    font-size: 52px;
    line-height: 70px;

    @include onPhone {
      font-size: 32px;
      line-height: 43.65px;
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  &__paragraph {
    text-align: start;

    @include onDesktop {
      width: 421px;
    }

    @include onTablet {
      width: 250px;
    }

    &-container {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;

      @include onPhone {
        display: block;
        margin-top: 30px;
      }

      @include onTablet {
        margin-top: 70px;
      }
    }
  }

  &__card {
    width: 100%;
    height: 415px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    @include onPhone {
      height: 199px;
    }

    @include onTablet {
      height: 300px;
      // width: 300px;
    }

    &-first {
      grid-column: 1 / 4;
    }

    &-second {
      grid-column: 4 / 7;
    }

    &-third {
      grid-column: 7 / 10;
    }

    &-fourth {
      grid-column: 1 / 4;
    }

    &-fifth {
      grid-column: 4 / 7;
    }

    &-sixth {
      grid-column: 7 / 10;
    }

    &-container {
      margin-top: 108px;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;

      @include onPhone {
        display: block;
      }
    }

    &__title {
      color: $button-color;
      font-size: 25px;
      line-height: 35px;
      width: 431px;
      height: 415px;
      text-align: start;

      @include onPhone {
        font-size: 12px;
        line-height: 16.32px;
        letter-spacing: 0.013em;
        width: 100%;
      }

      @include onTablet {
        font-size: 16px;
        height: 300px;
        width: 100%;
      }
    }

    &__subtitle {
      @include onPhone {
        text-align: start;
        position: absolute;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.32px;
        margin: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 37px;
        width: 300px;
      }

      @include onDesktop {
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: 48px;
        margin-left: 30px;
        text-align: start;
      }

      @include onTablet {
        font-size: 14px;
      }
    }

    &-img {
      display: flex;
      padding: 45px 40px;

      @include onPhone {
        width: 65px;
        padding: 35px;
      }

      &-third {
        width: 58px;
      }

      &-fourth {
        width: 56px;
      }

      &-fifth {
        width: 35px;
      }
    }
  }
}

.catalog {
  padding-top: 200px;

  &__title {
    display: flex;
    justify-content: start;
    font-size: 52px;
    line-height: 70px;
  }

  &-container {
    display: flex;
    gap: 10px;
    margin-top: 100px;

    @include onPhone {
      display: none;
    }

    @include onTablet {
      overflow: scroll;
    }

    &-phone {
      margin-top: 30px;

      @include onDesktop {
        display: none;
      }
    }
  }

  &__button {
    margin: auto;
    margin-top: 90px;
    width: 304px;

    @include onPhone {
      margin-top: 50px;
    }
  }
}

.delivery {
  padding-top: 220px;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-between;

  @include onPhone {
    display: block;
    padding-top: 80px;
  }

  &__title {
    font-size: 52px;
    text-align: start;
  }

  &__paragraph {
    text-align: start;
    margin-top: 100px;

    @include onPhone {
      margin-top: 30px;
      margin-bottom: 35px;
    }

    @include onTablet {
      margin-top: 20px;
    }
  }

  &-img {
    @include onPhone {
      width: 100%;
    }

    @include onTablet {
      width: 100%;
      min-width: 400px;
    }

    &-container {
      position: relative;
      margin-left: -15px;
      margin-right: -15px;

      @include onTablet {
        margin: 0;
        margin-left: 15px;
      }
    }
  }
}

.question {
  display: flex;
  justify-content: space-between;
  height: 354px;
  background-color: #f0f4f8;
  border-top-left-radius: 64px;
  border-bottom-right-radius: 64px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  max-width: 1490px;

  @include onPhone {
    display: block;
    height: 354px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include onDesktop {
    margin: auto;
  }

  @include onTablet {
    height: 400px;
  }

  @include onTablet {
    margin-left: 100px;
    margin-right: 100px;
  }

  &-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1196px;

    @include onPhone {
      width: 100%;
      max-width: 500px;
    }

    @include onTablet {
      margin: 0 30px;
    }
  }

  &__title {
    position: relative;
    z-index: 100;
    text-align: start;
    font-size: 34px;
    line-height: 44px;

    @include onPhone {
      font-size: 22px;
      font-weight: 300;
      line-height: 28.6px;
    }

    &-first {
      @include onPhone {
        display: none;
      }
    }

    &-phone {
      display: none;

      @include onPhone {
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: 22px;
        margin-bottom: 34px;
      }
    }

    &-blue {
      color: $button-color;

      @include onPhone {
        font-weight: 700;
        width: 100%;
      }
    }

    &-container {
      margin-top: 58px;

      @include onPhone {
        margin-top: 0;
      }
    }
  }

  &__subtitle {
    position: relative;
    z-index: 100;
    margin-top: 41px;
    font-size: 16px;
    line-height: 22px;
    color: #838383;

    @include onPhone {
      font-size: 12px;
      font-weight: 300;
      line-height: 16.8px;
      text-align: left;
      width: 187px;
      margin-top: 10px;
    }
  }

  &__button {
    margin-top: 33px;
    height: 68px;
    width: 304px;

    @include onPhone {
      margin: auto;
      margin-top: 60px;
      height: 52px;
      width: 100%;
    }
  }

  &-img {
    position: relative;
    z-index: 90;
    height: 313px;
    margin-top: 40px;

    @include onPhone {
      position: absolute;
      right: 20px;
      height: 130px;
    }

    @include onDesktop {
      top: 40px;
    }

    @include onTablet {
      right: 40px;
      top: 85px;
    }

    &-decoration {
      position: absolute;
      z-index: 0;
      top: 71px;
      right: -40px;

      @include onPhone {
        height: 111px;
        width: 175px;
        top: 40px;
        right: 0px;
      }

      @include onTablet {
        top: 100px;
        right: 10px;
      }
    }
  }
}

.partners .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners .swiper-slide img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


.partners {
  margin-bottom: 200px;


  &__title {
    margin-bottom: 90px;
    margin-top: 30px;
  }

  &-container {
    display: flex;
    justify-content: center;
    // gap: 50px;
    margin-top: 90px;
    margin-bottom: 150px;

    @include onPhone {
      display: none;
    }

    &-phone {
      @include onDesktop {
        display: none;
      }
    }
  }

  &__slide {
    width: 100%;
  }


  &-img {
    width: 196px;

    &-clients {
      width: 205px;
    }
  }
}

.reviews {
  @include onDesktop {
    margin: auto;
    margin-top: 230px;
    max-width: 1490px;
  }

  @include onTablet {
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
  }

  &__title {
    text-align: start;

    @include onPhone {
      margin-left: 15px;
      margin-top: 90px;
    }

    @include onTablet {
      margin-top: 100px;
      // margin-left: 100px;
    }
  }

  &-container {
    max-width: 1490px;
    width: 100%;
    height: 515px;
    background-color: #f0f4f8;
    padding: 60px 55px;
    box-sizing: border-box;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;

    @include onPhone {
      height: 291px;
      margin-top: 30px;
      margin-bottom: 159px;
    }

    @include onTablet {
      // margin-left: 100px;
      // margin-right: 100px;
    }

    @include onDesktop {
      margin-top: 100px;
      margin-bottom: 151px;
    }
  }
}

.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  background-color: blue;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-swiper .swiper-button-prev::after,
.custom-swiper .swiper-button-next::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  content: url("../../../public/images/arrow-prev.svg");
}

.custom-swiper .swiper-button-next::after {
  content: url("../../../public/images/arrow-next.svg");
}

.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  box-sizing: border-box;
  bottom: 10px;
  top: auto;
  width: 39px;
  height: 39px;
  padding: 10px;

  @include onDesktop {
    display: block;
    position: absolute;
    // top: 300px;
  }
}

.custom-swiper .swiper-button-prev {
  left: 70px;

  @include onDesktop {
    bottom: 0;
    // left: -20px
  }
}

.custom-swiper .swiper-button-next {
  right: 70px;
}
