@import "../../styles/utils/mixins";

.contacts {
  padding-bottom: 88px;

  &__header {
    height: 694px;
    background-image: url("../../../public/images/contacts-img.png");

    @include onPhone {
      height: 200px;
    }

    @include onTablet {
      height: 400px;
    }

    &-container {
      margin: auto;
      max-width: 1490px;

      @include onPhone {
        margin: 0 15px;
      }

      @include onTablet {
        margin: 0 100px;
      }
    }
  }

  &__title {
    padding-top: 438px;

    @include onPhone {
      padding-top: 140px;
    }

    @include onTablet {
      padding-top: 300px;
    }
  }
}

input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"] {
  -moz-appearance: textfield;
}
