@import '../../styles/utils/mixins';

.contacts {
  padding-bottom: 88px;

  &__header {
    height: 694px;
    background-image: url('../../../public/images/contacts-img.png');

    &-container {
      margin: auto;
      max-width: 1490px;

      @include onPhone {
        margin: 0 15px;
      }

      @include onTablet {
        margin: 0 30px;
      }
    }
  }

  &__title {
    padding-top: 438px;
  }
}